.pb__row{
    display: flex;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.pb__img{
    margin-right: 2rem;
}

.pb__img-container{
    border-radius: 30px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.pb__img img{
    width: 100%;
    height: 100%;
}

.pb__description{
    flex: 0 1 auto;
}

@media(max-width: 730px){
    .pb__row{
        /* flex-direction: column;
        align-items: center; */
        font-size: 0.9rem;
    }
}

@media(max-width: 590px){
    .pb__row{
        flex-direction: column;
        align-items: center; 
        /* font-size: 0.9rem;        */
    }
}