.sbox__container{
    width: 370px;
    position: relative;
}

.sbox__search-box {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    margin-top: 15px;
}

.sbox__form-control {
    width: 90%;
    border: none;
    height: 35px;
    color: black;
    font-size: 1.2rem;
}

.sbox__form-control:focus {
    outline: none;
}

.sbox__form-control::placeholder {
    font-size: 1.2rem;
    color: black;
}

.sbox__icon {
    width: 10%;
    text-align: right;
    color: black;
}

.sbox__search-select{
    background-color: white;
    color: black;
    padding: 0 10px;
    margin-top: 15px;
    border-radius: 20px;
    height: 170px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

.sbox__search-select::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sbox__search-select::-webkit-scrollbar:vertical {
    width:10px;
}

.sbox__search-select::-webkit-scrollbar:horizontal {
    height: 10px;
}

.sbox__search-select::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.sbox__search-select-items{
    margin: 0;
    padding: 10px 5px;
    border-radius: 10px;
}
.sbox__search-select-items:hover{
    background-color: #9797974f;
}

@media(max-width: 700px) {

    .sbox__container{
        width: 230px;
    }

    .sbox__search-box{
        height: 35px;
        padding: 0 20px;
    }

    .sbox__form-control::placeholder {
        font-size: 0.9rem;
    }
}

@media(max-width: 350px) {
    .sbox__search-box{
        width: 100%;   
    }
}