.msb {
    padding: 2rem 4.3rem 4.3rem 4.3rem;
    background-color: #E3E1DC;
    color: #291507;
    border-radius: 0 0 30px 30px;
}

.msb__title{
    font-size: 1.3rem;
}

.msb>hr {
    width: 70px;
    height: 5px;
    background-color: #291507;
    margin: 0;
}

.msb>h2{
    font-size: 2.4rem;
    width: 100%;
}

.msb__breed-photos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.msb-photos-item>img{
    width: 100%;
}

.msb-photos-item>p{
    font-weight: 500;
}

.msb a {
    color: #291507;
}


@media(max-width: 700px) {
    .msb {
        padding: 1rem 2.5rem 4.3rem 2.5rem;
    }

    .msb__title{
        font-size: 0.9rem;
    }

    .msb>h2{
        font-size: 1.7rem;
    }

    .msb__breed-photos-grid{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}