.hero__hero{
    width: 100%;
    background: url(../../../../../assets/HeroImagelg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 4.3rem;
    margin-top: 1rem;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__img{
    color: white !important;
    width: 350px;
    /* filter: invert(1); */
}

.hero__title{
    font-size: 1.5rem;
    width: 380px;
    font-weight: 400;
    margin-top: 0px;
}

.hero_search-box{
    display: flex;
    align-items: center;
    background-color: white;
    width: 370px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    margin-top: 15px;
}

.hero__form-control{
    width: 90%;
    border: none;
    height: 35px;
    color: black;
    font-size: 1.2rem;
}

.hero__form-control:focus{
    outline: none;
}

.hero__form-control::placeholder{
    font-size: 1.2rem;
    color: black;
}

.hero__icon{
    width: 10%;
    text-align: right;
    color: black;
}
